@import "tailwindcss";

@theme {
    --font-sans: InterVariable, sans-serif;
    /* --color-primary: oklch(0.21 0.034 264.665); */
    --color-primary: oklch(0.511 0.262 276.966);
    /* --color-primary-light: oklch(0.446 0.03 256.802); */
    --color-primary-light: oklch(0.585 0.233 277.117);
}